.home {
    background-color: var(--colorGray);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    .home-text {
        font-family: 'poppinsLight';
        font-size: 18px;
    }
}