.home {
    min-height: 72.8vh;
    background-color: var(--colorGray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .home-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;

        .home-text {
            font-family: 'poppinsLight';
            font-size: 18px;
        }
    }
}

@media (max-width: 900px) {
    .home {

        .home-info {
            flex-direction: column;
        }
    }
}