.header {
    position: sticky;
    width: 100%;
    top: 0;
    height: 27.2vh;
    font-family: 'poppinsLight';
    font-size: 18px;
    background-color: var(--colorWhite);
    z-index: 10;

    .header-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        position: relative;

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            user-select: none;

            h1 {
                font-size: 18px;
                color: var(--colorSecondaryBlack);
            }
        }

        .header-navigation {

            .navigation-options {
                display: flex;
                gap: 30px;

                li {

                    .link {
                        transition: all .4s ease-in-out;
                        color: var(--colorTertiaryGray);
                        border-bottom: 1px solid transparent;
                        
                        &:hover {
                            color: var(--colorPrimaryBlack);
                            border-bottom-color: var(--colorPrimaryBlack);
                        }
                    }
                }
            }
        }

        .menu-social-media {
            display: none;
        }

        .navigation-social-media {
            position: absolute;
            right: 20px;
            top: 40%;
            display: flex;
            gap: 30px;
            user-select: none;

            div {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 80px;

                a {
                    width: 46px;
                    height: 46px;
                    padding: 12px;
                    border: 1px solid #000;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .4s ease-in-out;
                    
                    &:hover {
                        transform: scale(1.1);
                    }

                    .icon {
                        width: 20px;
                        height: 20px;
                        color: var(--colorWhite);
                    }
                }

                p {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    bottom: 0;
                    overflow-x: hidden;
                    width: 0;
                    color: var(--colorPrimaryBlack);
                    animation: disableTyping .6s ease-in-out;
                }

                &:hover {
                    p {
                        width: 93px;
                        animation: typing .6s ease-in-out;
                    }
                }

                @keyframes typing {
                    0%{
                        width: 0;
                    }100% {
                        width: 93px;
                    }
                }

                @keyframes disableTyping {
                    0%{
                        width: 93px;
                    }100% {
                        width: 0;
                    }
                }

                &:nth-child(1) a {
                    background-color: #000;
                }

                &:nth-child(2) a {
                    background: #d6249f;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                }

                &:nth-child(3) a {
                    background-color: #000;;
                }

                &:nth-child(4) a {
                    background-color: #053EFF;;
                }
                
                &:nth-child(5) a {
                    background-color: #1877f2;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .header {

        .header-div {

            .header-navigation {
    
                .navigation-options {
                    gap: 20px;
                }
            }
        }

    }
}

@media (max-width: 900px) {
    .header {

        .header-div {

            .menu-social-media {
                position: absolute;
                right: 10px;
                display: flex;
                width: 25px;
                height: 25px;
                padding: 10px;
                border-radius: 50%;
                background-color: rgb(220,220,220);
                z-index: 10;
            }

            .menu-active {
                animation: rotateMenu .6s ease-in-out;
            }

            @keyframes rotateMenu {
                0% {
                    transform: rotate(0);
                }100% {
                    transform: rotate(360deg);
                }
            }

            .navigation-social-media {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                visibility: visible;
                flex-direction: column;
                gap: 8px;
                background-color: var(--colorPrimaryBlack);
                right: 0;
                top: 0;
                padding: 10px 0;
                width: 0;
                overflow: hidden;
                animation: disableSocialMedia .6s ease-in-out;

                div {

                    &:nth-child(1) a {
                        filter: invert(1);
                    }

                    p {
                        width: 93px;
                        color: var(--colorWhite);
                        visibility: visible;
                        bottom: 7px;
                        font-size: 14px;
                        animation: none;
                    }

                    &:hover {
                        p {
                            animation: none;
                        }
                    }
                }
            }

            .showMenu {
                width: 100px;
                animation: showSocialMedia .6s ease-in-out;
            }

            @keyframes showSocialMedia {
                0% {
                    width: 0;
                } 100% {
                    width: 100px;
                }
            }

            @keyframes disableSocialMedia {
                0% {
                    width: 100px;
                } 100% {
                    width: 0;
                }
            }
        }

    }
}

@media (max-width: 1000px) and (max-height: 500px) {
    .header {
        min-height: 35vh;

        .header-div {

            .logo {
                flex-direction: row;
            }

            .navigation-social-media {
                flex-wrap: wrap;
            }

            .showMenu {
                width: 180px;
                animation: showSocialMedia .6s ease-in-out;
            }

            @keyframes showSocialMedia {
                0% {
                    width: 0;
                } 100% {
                    width: 180px;
                }
            }

            @keyframes disableSocialMedia {
                0% {
                    width: 180px;
                } 100% {
                    width: 0;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .header {

        .header-div {

            .header-navigation {

                .navigation-options {
                    gap: 5px;
                }
            }
        }
    }
}