:root {
    --colorWhite: rgb(255,255,255);
    --colorGray: rgb(242,242,242);
    --colorSecondaryGray: rgb(135, 148, 155);
    --colorTertiaryGray: rgb(80, 80, 80);
    --colorPrimaryBlack: rgb(0, 0, 0);
    --colorSecondaryBlack: rgb(33, 40, 48);
    --colorTertiaryBlack: rgb(47, 46, 46);
}

html {
    overflow-x: hidden;
}

@font-face {
    font-family: 'poppinsLight';
    src: local('Poppins'), url(./fonts/poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'poppinsBlack';
    src: local('Poppins'), url(./fonts/poppins/Poppins-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'poppinsBold';
    src: local('Poppins'), url(./fonts/poppins/Poppins-Bold.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
